<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188973722097-ghj1qmtv4raur3gngm7c9gihenalhf7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188973722097-ghj1qmtv4raur3gngm7c9gihenalhf7t</string>
	<key>API_KEY</key>
	<string>AIzaSyDdT4j_wLJclvxzMJaXRwRoiv8YGZLte5k</string>
	<key>GCM_SENDER_ID</key>
	<string>188973722097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carApp</string>
	<key>PROJECT_ID</key>
	<string>black-beard-burguer-406f0</string>
	<key>STORAGE_BUCKET</key>
	<string>black-beard-burguer-406f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188973722097:ios:7e7cca61a4822d3151fc50</string>
</dict>
</plist>